:root {
  --color-primary: #7b2cbf;
  --color-secondary: #9d4edd;
  --color-text: #555b6e;
  --color-text-light: #7a8094;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ===================================================== */
/* ===================================================== */
/* ===================================================== */

.main_layout {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  margin-left: 250px;
  margin-top: 120px;
}

.main_layout_close {
  margin-left: 0px;
}

.Image_full {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-gradient {
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-color-wide {
  color: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
}

.gradient-color-tall {
  color: linear-gradient(
    to bottom,
    var(--color-primary),
    var(--color-secondary)
  );
}

.gradient-bg-tall {
  background: linear-gradient(
    to bottom,
    var(--color-primary),
    var(--color-secondary)
  );
}

.gradient-bg-wide {
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
}

/* Sidebar */

.Sidebar_main {
  background-color: var(--color-primary);
  color: #fff;
  min-height: 100dvh;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 250px;
  display: flex;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  opacity: 1;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.Sidebar_main_open {
  left: 0 !important;
  opacity: 1 !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  transition: all 0.3s ease-in-out;
}

.overlay_open {
  opacity: 100 !important;
  visibility: visible !important;
}

.Sidebar_title {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.Sidebar_links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Sidebar_link {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 2rem 0rem 2rem 2rem;
  border-radius: 0;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  font-size: 1.25rem;
  font-weight: normal;
}

.Sidebar_link:hover {
  background-color: #fff;
  color: var(--color-secondary);
  font-weight: bold;
  .Sidebar_icon {
    color: var(--color-primary);
  }
}

.Sidebar_icon {
  size: 50px;
  color: #fff;
}
/* ================================================ */
/* Navbar */

.Navbar_main {
  background-color: #fff;
  color: var(--color-text);
  height: 90px;
  overflow: hidden;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 250px);
  transition: all 0.3s ease-in-out;
  top: 0;
  right: 0;
  z-index: 997;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.Navbar_Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
  width: 100%;
}

.Navbar_menu {
  display: none !important;
  font-size: 35px !important;
  cursor: pointer;
  color: var(--color-secondary);
}

.Navbar_title {
  font-size: 1.5rem;
  font-weight: bold;
}

.Navbar_Content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.Navbar_search_container {
  width: 100%;
  position: relative;
}

.Navbar_search {
  outline: none !important ;
  border: var(--color-text) 1px solid !important ;
  background-color: #f5f5f5 !important ;
  padding: 0.5rem 3rem !important ;
  border-radius: 12rem !important ;
  font-size: 1rem !important ;
  color: var(--color-text) !important ;
  transition: all 0.3s ease-in-out !important ;
}

.Navbar_search:focus {
  outline: var(--color-text) 1.2px solid !important;
}

.Navbar_search_icon {
  size: 50px;
  color: var(--color-text);
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.icon_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 35px !important;
  color: var(--color-primary);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.circle_container {
  position: absolute;
  top: -10px;
  right: -2.5px;
  overflow: hidden;
  background-color: #fff;
  padding: 2px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  background: var(--color-secondary);
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.icon:hover {
  color: var(--color-secondary);
}

.Navbar_avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  object-fit: cover;
}

/* =============================================== */
/* Hero Main */

.main_content {
  margin: auto;
  padding: 0rem 1rem;
}

.Hero_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  gap: 50px;
}

.Hero_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  height: fit-content;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  position: relative;
  margin-bottom: 3rem;
}

.Hero_badge {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
  height: fit-content;
  max-height: 400px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  position: relative;
}

.Hero_badge_content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 100%;
  gap: 0px;
  padding: 1rem 2rem;
  font-size: 30px;
}

.Hero_badge_title {
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  color: var(--color-text);
}

.Hero_badge_image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.Hero_badge_desc {
  padding: 0px;
  margin: 15px 0px 10px 0px;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  color: var(--color-text);
}

.Hero_badge_desc_2 {
  padding: 0px;
  margin: 20px 0px 10px 0px;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  color: var(--color-text);
}

.Main_button {
  padding: 0.8rem 2.5rem;
  margin-bottom: 1rem;
  margin-top: auto;
  background-color: var(--color-secondary);
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  font-size: 1.1rem;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.Main_button:hover {
  background-color: var(--color-primary);
}

/* =============================================== */
/* Announcements Main */

.Announcements_main {
  display: block;
  overflow: hidden;
  height: fit-content;
  border-radius: 10px;
  padding: 0.75rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  grid-column: span 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}

.Section_head {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  height: max-content;
  width: 100%;
}

.Section_title {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: max-content;
  width: 100%;
}

.Section_title_button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: var(--color-primary);
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
}

.Section_title_header {
  margin: 0px;
  padding: 0px;
  font-size: 2rem;
  font-weight: bold;
}

.Section_desc {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-text-light);
}

.Announcements_content {
  height: fit-content;
}

.Announcement_card {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  color: var(--color-text);
}

.Announcements_image_container {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.Announcements_content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0rem;
  width: fit-content;
}

.Announcements_user {
  margin: 0px;
  padding: 0px;
  font-size: 1.1rem;
  font-weight: bold;
  width: 200px;
}

.Announcements_category {
  margin: 0px;
  padding: 0px;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-text-light);
}

.Light_column {
  height: auto;
  flex-shrink: 0;
  width: 1px;
  background-color: var(--color-text-light);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.Announcements_desc {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--color-text-light);
}

.AnnouncementsPage {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  padding: 2rem;
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.Announcements_header_main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.Announcements_container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  border-radius: 10px;
  padding: 1rem;
  height: fit-content;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.icons_container {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  gap: 1rem;
  width: fit-content;
  border-radius: 10px;
  padding: 1rem;
  height: fit-content;
  overflow: hidden;
}

.Icon_link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 10px;
  height: fit-content;
  text-decoration: none;
}

.red_hover:hover {
  color: red;
}

.announcement-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

label {
  color: var(--color-text);
  font-weight: bold;
}

input[type="text"],
textarea {
  border: 1px solid var(--color-text-light);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--color-text);
  outline: none;
  transition: border 0.2s ease-in-out;
}

input[type="text"]:focus,
textarea:focus {
  border-color: var(--color-primary);
}

textarea {
  resize: vertical;
  min-height: 80px;
}

input[type="file"] {
  border: none;
}

select {
  padding: 0.5rem;
  border: 1px solid var(--color-text-light);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--color-text);
  outline: none;
  transition: border 0.2s ease-in-out;
}

select:focus {
  border-color: var(--color-primary);
}

button {
  background: var(--color-primary);
  color: #fff;
  padding: 0.6rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: var(--color-secondary);
}

/* =============================================== */
/* Quizz Section */

.Quizes_section {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 0.75rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.Quizes_card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 7.5px;
}

.Quiz_header {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 15px;
  text-transform: uppercase;
}

.Quiz_topic {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-text-light);
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 15px;
}

.topic {
  margin-right: 10px;
}

.outlite_btn {
  margin-top: 15px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  color: var(--color-primary);
  border: var(--color-primary) 2px solid;
}

.outlite_btn:hover {
  color: #fff;
}

/* Overlay container */
.loading-overlay {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  background-color: rgba(0, 0, 0, 0.5);
  display: flex; /* center content */
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease, visibility 300ms ease;
  z-index: 9999;
}

.loading_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  height: 100%;
}

/* When active */
.loading-overlay--visible {
  opacity: 1;
  visibility: visible;
}

/* Card */
.loading-card {
  background: #ffffff;
  padding: 20px 24px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  min-width: 220px;
  text-align: center;
}

/* Spinner */
.spinner {
  width: 48px;
  height: 48px;
  border: 3px solid #e5e7eb; /* light gray */
  border-top-color: #111827; /* dark gray */
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: 0 auto; /* center horizontally */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-text {
  margin-top: 12px;
  font-size: 16px;
  color: #111827;
  font-weight: 600;
}
/* =============================================== */
/* Auth Section */

.Auth_Page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Auth_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 80%;
  min-width: 70%;
  border: var(--color-primary) 2px solid;
  border-radius: 10px;
  padding: 3rem;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.1);
  height: fit-content;
  overflow: hidden;
}

.logout_text {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
  text-transform: uppercase;
}

.login_text {
  font-size: 1.5rem;
  font-weight: bold;
  color: green;
  text-transform: uppercase;
}

.Login_btn {
  color: #fff !important;
  padding: 1rem 2.5rem;
  border-radius: 10px;
  background-color: var(--color-primary) !important;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none !important;
}

.Login_btn:hover {
  background-color: var(--color-secondary) !important;
}

.Logout_btn {
  color: #fff !important;
  padding: 1rem 2.5rem;
  border-radius: 10px;
  background-color: red !important;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none !important;
}

.Logout_btn:hover {
  background-color: rgb(255, 0, 0, 0.8) !important;
}

/* =============================================== */
/* Toast */

.Toastify__progress-bar--success {
  background-color: var(--color-primary) !important;
}

/* تغيير لون أيقونة التوست SVG */
.Toastify__toast--success .Toastify__toast-icon svg {
  fill: var(--color-primary) !important; /* اللون الجديد اللي تحب */
}

@media (max-width: 968px) {
  .main_layout {
    margin-left: 0px;
  }

  .Hero_badge_title {
    font-size: 2.5rem !important;
  }

  .Sidebar_main {
    left: -250px;
    opacity: 0;
  }

  .Navbar_title {
    font-size: 1.1rem !important;
  }

  .Navbar_Container {
    padding: 0.5rem 0.5rem !important;
  }

  .overlay {
    opacity: 0;
    visibility: hidden;
  }

  .Navbar_menu {
    display: block !important;
  }

  .Navbar_main {
    width: 100% !important;
  }

  .Navbar_search_container {
    display: none;
    width: 100% !important;
    padding: 10px 10px !important;
  }

  .Navbar_search {
    width: 100% !important;
    padding: 0.5rem 2rem !important;
  }
}

@media (max-width: 1250px) {
  .Hero_badge {
    /* background-image: url("/public/assets/badge_img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    grid-template-columns: 1fr;
  }

  .Hero_badge_image {
    display: none;
  }

  .Announcement_card {
    flex-wrap: wrap;
  }

  .Light_column {
    display: none;
  }
}

@media (max-width: 1120px) {
  .Hero_content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0;
  }

  .Quizes_section {
    margin-top: 2rem;
    padding: 2rem;
  }
}
